@import './mixins.scss';
$background-color: rgba(31,32,33,1);
$header-color: rgba(35,36,36,1);
$sidebar-size: 260px;
$grey: #dbe2e8;
$white: #fff;
$header-height: 60px;
$light-orange: #ff9225;
$main-orange: #ff9326;
$dark-orange: #ef7a13;
$hard-brown: #35281b;
$font-color: #c5c5c5;